*{
    text-decoration: none;
    font-family: Roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html{
    font-size: 62,5%;
  }

.img{
    border-right: 3px solid black;
    margin: 1.2rem;
    display: inline-block;
}

.texto{
    padding: 1rem;
    font-size: 2.4rem;
    display: inline-block;
}

#menu{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: #6a5345;
    padding-left: 3rem;
    border-bottom: 0.6rem solid #fbb34d;
}

nav ul li{
    padding: 10px 25px 10px 0px;
}

#menu a{
    font-size: 1rem;
    color: white;
}

nav ul li:hover{
    text-shadow: 0 0 10px white;
}

nav a:hover{
    text-decoration: none;
    color: white;
}

h2{
    padding-top: 1.5rem;
    width: 100px;
    margin-left: 3rem;
    border-bottom: 0.4rem solid #fbb34d;
}

form{
    justify-content: center;
    text-align: center;
    display: flex;
}

.box{
    background-color: #E2E2E2;
    border-radius: 5%;
    width: 600px;
    height: 750px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}