/*Só para dividir o header e o footer que vão se repetir em todas as páginas da prefeitura do restante do .css da página*/
*{
    margin: 0px;
    font-family: Roboto;
}


footer{
    border-top: 5px solid #fbb34d;
    margin-top: 10px;
}

#infos{
    padding: 1.4rem;
    margin-bottom: 0;
    list-style: none;
    background-color: #6a5345;
    color: white;
    align-items: center;
}


#infos i{
    padding: 0.6rem;
    display: inline-block;
}

#infos li{
    display: inline-block;
}



/*-----------------------------------------*/

/*Media querys */

@media(max-width:1136px){
    header div#title_string h1{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    header img{
        margin: 0px auto;
        border-right: 0;
    }

    footer ul i{
        padding: 10px;
    }

}

/*Caso o acesso venha de um aparelho mobile*/

@media(max-width: 600px){
    header div#title_string h1{
        font-size: 40pt;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    header img{
        border: none;
        margin: 0px auto;
        width: 500px;
    }

    nav ul#menu_pag{
        height: 80px;
    }

    nav ul#menu_pag li{
        font-size: 24pt;
    }

    footer {
        border-width: 10px;
    }

    footer ul#infos{
        grid-template-columns: 1fr 10fr 10fr;
    }

    footer ul#infos i{
        font-size: 40pt;
        padding: 10px
    }

    footer ul#infos li{
        font-size: 22pt;
    }
}

/*------------------------------------------------------*/